@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

.container {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
